.addForm {
  &__form {
    margin-top: 3rem;
  }

  &__block {
    margin-bottom: 2rem;

    label {
      font-size: 1.1rem;
    }
    input {
      width: 100%;
      height: 2.4rem;
      background: none;
      border: none;
      border-bottom: 1px solid rgba($color: #111, $alpha: 0.3);
      font-family: inherit;
      font-size: 1rem;

      &:focus {
        outline: none;
      }
    }

    select {
      display: block;
      margin-top: 1rem;
      background: #fff;
      font-family: inherit;
      font-size: 1rem;
      padding: 0.5rem 7rem 0.5rem 0.5rem;
    }
  }

  &__option {
    display: inline-block;
    margin-left: 1rem;
    font-size: 0.75rem;
  }

  &__button {
    display: block;
    font-family: inherit;
    font-size: 1rem;
    color: #fff;
    margin: auto;
    padding: 0 4rem;
    height: 2.7rem;
    border: none;
    background: #111;
  }

  &__error {
    color: #ff3333;
  }
}
