.product-page-detail {
  max-width: 110rem;
  margin: auto;
  padding: 2rem 1rem;

  &__title {
    font-weight: 500;

    &-wrapper {
      min-height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .product-page-cards {
    display: flex;

    .card {
      padding: 0 3rem;
      background: var(--color-white-deep);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 8rem;
      border-radius: var(--border-radius);

      h2 {
        font-weight: 300;
        font-size: 1.2rem;
      }

      p {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }

  &__purchases {
    margin-top: 3rem;

    h2 {
      font-weight: 400;
      padding-bottom: 1rem;
    }
  }

  .sort {
    padding: 2rem 0;
    display: flex;

    label {
      padding-right: 2rem;
    }

    select {
      -webkit-appearance: none;
      padding: 7px 40px 7px 12px;

      border: 1px solid #e8eaed;
      border-radius: 5px;
      background: white;
      box-shadow: 0 1px 3px -2px #9098a9;
      cursor: pointer;
      font-family: inherit;
      font-size: 16px;
      transition: all 150ms ease;
    }

    option {
      color: #223254;

      &:focus {
        outline: none;
        border-color: #0077ff;
        box-shadow: 0 0 0 2px rgba(#0077ff, 0.2);
      }
    }

    &-block {
      margin-right: 1rem;
    }

    button {
      background: var(--color-orange);
      border: none;
      color: white;
      padding: 0 2rem;
      border-radius: 50px;
    }
  }

  .pagination {
    margin: 3rem 0;
    button {
      padding: 1rem;
      border: 1px solid white;
    }

    .prev-button {
      padding-left: 2rem;
      border-top-left-radius: 80px 80px;
      border-bottom-left-radius: 80px 80px;
    }
    .next-button {
      padding-right: 2rem;
      border-top-right-radius: 80px 80px;
      border-bottom-right-radius: 80px 80px;
    }
  }

  .cards {
    display: flex;
    margin-top: 2rem;

    .card {
      display: block;
      min-height: 9rem;
      background: var(--color-white-deep);
      margin-right: 0px;
      border-radius: var(--border-radius);
      flex-basis: calc(25% - 20px);
      padding: 1rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &:not(:last-child) {
        margin-right: 26.6px;
      }

      &:not(:first-child) {
        margin-left: 2rem;
      }

      h3 {
        font-weight: 300;
        font-size: 1.2rem;
      }

      p {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }

  .reviews {
    margin-top: 2rem;
  }

  .product-detail {
    .heading {
      padding: 2rem;
      display: flex;
      align-items: center;

      background: var(--color-white-deep);

      .slide {
        margin-right: 3rem;
      }

      .category {
        font-weight: bold;
        font-size: 1.1rem;
      }

      .price {
        margin-top: 0.75rem;
        font-weight: bold;
      }

      .date {
        font-size: 0.8rem;
        margin-top: 3rem;
      }

      .options {
        margin-top: 1rem;

        button {
          outline: none;
          border: none;
          background: var(--color-orange);
          padding: 8px 14px;
          color: white;
          border-radius: 3px;

          &:first-child {
            margin-right: 1rem;
          }
        }
      }

      h3 {
        font-size: 1.7rem;
      }
    }
  }
}
