.customerpage {
  padding: 2rem 1rem 2rem 1rem;
  max-width: 100rem;
  width: 100%;
  margin: auto;

  .customer-cards {
    display: flex;

    margin-bottom: 2rem;

    a {
      display: block;
      min-height: 9rem;
      background: var(--color-white-deep);
      margin-right: 0px;
      border-radius: var(--border-radius);
      flex-basis: calc(25% - 20px);
      padding: 1rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      &:not(:last-child) {
        margin-right: 26.6px;
      }
    }

    .is-non-link {
      background: var(--color-white);
    }

    .customer-card {
      min-height: 9rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      justify-content: center;
      color: rgba(var(--color-dark-deep), 0.7);

      &:not(:last-child) {
        margin-right: 26.6px;
      }
    }

    .data {
      font-size: 3.5rem;
      color: var(--color-dark-deep);
    }
  }

  &__top {
    display: flex;
    margin-bottom: 3rem;
    justify-content: space-between;
  }

  &__membership {
    flex-basis: 49%;
    // box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
  }

  h2 {
    font-size: 2.3rem;
    color: rgba(#fff, 0.9);
    margin-bottom: 4rem;
  }

  &__left {
    display: flex;
    flex-basis: 49%;

    // box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background: var(--color-white-deep);
  }

  &__right {
    display: flex;
    justify-content: space-between;
  }
}
