.customerpage {
  max-width: 100rem;
  padding: 1rem;
  margin: auto;

  h2 {
    font-size: 3rem;
    color: rgba(#fff, 0.9);
  }

  &__left {
    display: flex;
    margin-bottom: 6rem;
  }

  &__right {
    display: flex;
  }
}
