.profitpage {
  max-width: 100rem;
  padding: 2rem 1rem 2rem 1rem;
  margin: auto;
  width: 100%;

  .profit-cards {
    display: flex;
    margin-top: 2rem;
    // padding: 1rem 2rem;

    &__card {
      min-height: 9rem;
      border-radius: var(--border-radius);
      flex-basis: calc(33.3% - 20px);
      margin-right: 0px;
      padding: 1rem 0;
      display: flex;
      background: var(--color-white-deep);
      align-items: center;
      justify-content: center;

      &:not(:last-child) {
        margin-right: 30px;
      }

      .space {
        margin-bottom: 1rem;
      }

      h3 {
        font-weight: 300;
        font-size: 1.1rem;
      }

      .sub {
        margin-left: 2rem;
        max-width: 9rem;

        small {
          display: inline-block;
          color: rgba(var(--color-dark-deep), 0.8);
          min-height: 60px;

          .data {
            color: var(--color-dark-deep);
            font-size: inherit;
          }
        }
      }

      .main {
      }
    }

    .data {
      font-size: 3.3rem;
    }
  }
}
