.navigation {
  display: flex;
  flex-direction: column;
  z-index: 999;
  justify-content: flex-start;

  color: rgba($color: #fff, $alpha: 0.8);
  background: var(--bg-color);
  height: 100%;
  min-width: 48px;
  overflow: hidden;

  &.hide {
    width: 1rem;
  }

  &__mode {
    display: flex;
  }

  &__option {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: 1;
    font-size: 1.2rem;
    padding: 0.75rem;
    cursor: pointer;
    color: rgb(54, 54, 54);
    background: var(--color-white);
  }

  &__admin {
    width: 100%;

    min-height: 4rem;
    background: var(--color-purple);
    padding: 0.23rem 0.5rem;
    display: flex;

    align-items: center;

    &-inner {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      .icon {
        font-size: 1.2rem;
        margin-right: auto;
        margin-left: 0.5rem !important;
        margin-top: 0.3rem;
        margin-bottom: 0.5rem;
      }

      .sub-icon {
        margin-left: 0.1rem;
        font-size: 0.9rem;
      }

      p {
        display: block;
        margin-left: 0.5rem;
        font-size: 0.8rem;
      }

      span {
        color: #fff;
      }
    }

    &-logout {
      display: inline-block;
      font-size: 1rem;
      margin-left: 0.5rem !important;
      margin-bottom: 0.5rem;
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      color: rgb(24, 23, 23);
      font-weight: bold;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: rgb(39, 39, 39);
      }
    }
  }

  &__svg {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }

  &__list {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;

    &-item {
      padding-left: 2rem;
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    &-link {
      small {
        display: inline-block;
        font-size: 1.1rem;
      }
    }

    div {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;

      margin-bottom: 0.5rem;

      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }

  li {
    list-style: none;
    cursor: pointer;
  }

  .label {
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-top: 2rem;
    display: flex;
    align-items: center;

    span {
      display: inline-block;
      margin: 0 1rem;
    }
  }

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: block;
  }

  input:checked + .slider {
    background-color: black;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .icon {
    margin-left: auto;

    display: block;
  }
}

.active-nav {
  background: #ddd !important;
}
