.review-page-detail {
  max-width: 110rem;
  margin: auto;
  padding: 2rem 1rem;
  text-align: center;

  &__inner {
    max-width: 60rem;
    margin: auto;
  }

  &__top {
    margin-bottom: 4rem;
  }

  &__customer {
    &-info {
      display: flex;
      align-items: center;
    }

    &-img {
      width: 3rem;
      height: 3rem;
      overflow: hidden;
      border-radius: 50%;

      img {
        width: 100%;
      }
    }

    &-name {
      margin-left: 1rem;
    }

    &-review {
      margin-top: 1rem;
    }

    &-date {
      font-size: 1rem;
      opacity: 0.7;
    }

    &-comment {
      font-size: 1.3rem;
      line-height: 1.5;
      max-width: 40rem;
    }
  }

  &__product {
    margin-top: 2rem;

    &-inner {
    }

    &-img {
      max-width: 5rem;
      img {
        width: 100%;
      }
    }

    &-name {
      text-decoration: underline;
    }
  }

  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .number {
    font-size: 3rem;
    margin-left: 1rem;
  }
}
