@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-white);
  color: var(--color-dark-deep);
  font-family: 'Poppins', sans-serif;
  position: relative;
  min-height: 100vh;
}

#root {
  padding-left: 3rem;
}

.logo {
  font-family: 'Prata', serif;
  font-size: 1.5rem;
}

.card-icon {
  margin-right: 0.75rem;
  font-size: 1.7rem;

  &-md {
    font-size: 2.3rem;
    margin-right: 1rem;
  }
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  color: inherit;
}

.visible-mobile {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: rgb(32, 32, 32);
  display: none;
  visibility: hidden;

  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 1000px) {
    height: 100vh;
    width: 100vw;
    display: flex;
    visibility: visible;
  }

  &__inner {
    position: relative;
    color: #fff;
    font-size: 3rem;
    padding: 1rem;
  }
}

:root {
  --color-dark-light: #4c555c;
  --color-dark-middle: #32383d;
  --color-dark-deep: #202529;
  --color-white: rgb(246, 246, 246);
  --color-white-deep: #fff;
  --color-gb-dark: #373737;
  --color-gb-dark01: #2e2e2e;
  --bg-color: #2c2a33;

  --color-bg-blue: rgb(83, 136, 206);
  // graph color pallete
  --color-custom: rgb(102, 201, 102);
  --color-purple: rgb(173, 62, 156);
  --color-blue: rgb(74, 71, 163);
  --color-pink: rgb(238, 63, 122);
  --color-orange: hsl(11, 100%, 65%);
  --color-yellow: rgb(255, 166, 0);
  --color-red: rgb(207, 39, 39);

  --color-error: #ff3333;
  --color-success: #4bb543;

  --color-gb-dark02: #474747;
  --box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  --color-border: rgb(219, 216, 216);

  --border-radius: 5px;
}
